<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tutorial-chap04-example2-simplekernel_EngineCode/src/spread/SpreadManager.maxj"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="MAXCOMPILER_ACTIVITY_FILE" value="/home/demo/Desktop/project/tutorial-chap04-example2-simplekernel/RunRules/Simulation/.maxcompiler-activity.be"/>
<mapEntry key="MAXCOMPILER_BUILD_CONF" value="build.copy_results_to=/home/demo/Desktop/project/tutorial-chap04-example2-simplekernel/RunRules/Simulation/maxfiles"/>
<mapEntry key="MAXCOMPILER_BUILD_DIR" value="/home/demo/Desktop/project/tutorial-chap04-example2-simplekernel/RunRules/Simulation/maxfiles"/>
<mapEntry key="MAX_BUILDPARAMS" value="DFEModel='VECTIS' target='DFE_SIM' maxFileName='Simple'  "/>
</mapAttribute>
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.AUTO_HEAP_SIZE" value="2"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="simple.SimpleManager"/>
<stringAttribute key="org.eclipse.jdt.launching.MAX_FILE_BUILD_NAME" value="Simple"/>
<stringAttribute key="org.eclipse.jdt.launching.PROFILE_FOLDER" value="Simulation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROFILE_PROJECT" value="tutorial-chap04-example2-simplekernel_RunRules"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tutorial-chap04-example2-simplekernel_EngineCode"/>
</launchConfiguration>
